# Database

POSTGRES_DB=fake_news_db

POSTGRES_USER=postgres

POSTGRES_PASSWORD=postgres

POSTGRES_PORT=4588



# Backend

BACKEND_PORT=8888



# Frontend

FRONTEND_PORT=5173



# Nginx

NGINX_PORT=4788



# PgAdmin

PGADMIN_EMAIL=admin@fakenews.com

PGADMIN_PASSWORD=admin