--
-- PostgreSQL database dump
--

\restrict 1lzs8MF8Xhb1RL6edPf5iuCXpdpepNpbXZnKxXymWJnabq1xjR7Qifwq3UphFCC

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg12+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    id uuid NOT NULL,
    action text NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: embeddings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.embeddings (
    id uuid NOT NULL,
    news_id uuid NOT NULL,
    vector public.vector(3072) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    provider character varying(50) NOT NULL,
    model character varying(120) NOT NULL,
    dimensions integer NOT NULL
);


ALTER TABLE public.embeddings OWNER TO postgres;

--
-- Name: news; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.news (
    id uuid NOT NULL,
    title character varying(500) NOT NULL,
    content text NOT NULL,
    source character varying(255) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    author character varying(255),
    url character varying(1000),
    language character varying(20) NOT NULL,
    country character varying(100),
    published_at timestamp without time zone,
    is_fake boolean,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.news OWNER TO postgres;

--
-- Name: query_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.query_history (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    query text NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.query_history OWNER TO postgres;

--
-- Name: rag_responses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rag_responses (
    id uuid NOT NULL,
    query_id uuid NOT NULL,
    answer text NOT NULL,
    explanation text NOT NULL
);


ALTER TABLE public.rag_responses OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
73a75c3a1744
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.audit_logs (id, action, created_at) FROM stdin;
\.


--
-- Data for Name: embeddings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.embeddings (id, news_id, vector, created_at, provider, model, dimensions) FROM stdin;
\.


--
-- Data for Name: news; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.news (id, title, content, source, created_at, author, url, language, country, published_at, is_fake, updated_at) FROM stdin;
617c3581-af58-4aaa-8094-74f7bad37f4f	Gobierno anuncia nueva tecnolog├¡a educativa	El gobierno present├│ un nuevo sistema basado en inteligencia artificial para mejorar la educaci├│n p├║blica.	Test News	2026-07-27 19:25:08.887262	Sistema	\N	es	BO	\N	f	2026-07-27 19:25:08.88727
\.


--
-- Data for Name: query_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.query_history (id, user_id, query, created_at) FROM stdin;
\.


--
-- Data for Name: rag_responses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rag_responses (id, query_id, answer, explanation) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, email, password_hash, created_at) FROM stdin;
2f0faef9-47c3-44dc-aea5-1b1686cab326	admin@test.com	$2b$12$kqSfu39SmBGQPaaTW1KIw.k10rZDr6eoL3SAoGNcOLzsEobrsWHqm	2026-07-27 03:11:26.837385
626865b9-8ddc-49a8-9bd2-c08ecd39b07a	gusgus@gmail.com	$2b$12$pUEK8M2qGAwaFXDyZmNlKOr/wOutxrHUE5yzxM58gNNIJHKnBJ4h6	2026-07-28 00:09:06.998584
\.


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: embeddings embeddings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.embeddings
    ADD CONSTRAINT embeddings_pkey PRIMARY KEY (id);


--
-- Name: news news_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news
    ADD CONSTRAINT news_pkey PRIMARY KEY (id);


--
-- Name: query_history query_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.query_history
    ADD CONSTRAINT query_history_pkey PRIMARY KEY (id);


--
-- Name: rag_responses rag_responses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rag_responses
    ADD CONSTRAINT rag_responses_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: embeddings embeddings_news_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.embeddings
    ADD CONSTRAINT embeddings_news_id_fkey FOREIGN KEY (news_id) REFERENCES public.news(id);


--
-- Name: query_history query_history_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.query_history
    ADD CONSTRAINT query_history_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: rag_responses rag_responses_query_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rag_responses
    ADD CONSTRAINT rag_responses_query_id_fkey FOREIGN KEY (query_id) REFERENCES public.query_history(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 1lzs8MF8Xhb1RL6edPf5iuCXpdpepNpbXZnKxXymWJnabq1xjR7Qifwq3UphFCC

